/* MAIN */
main {
   width: 100vw;
   height: auto;
}

/* HEADER */
.header {
   width: 100vw;
   height: 100vh;
}
.header-navigation {
   width: 100vw;
   height: 90px;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 1rem;
   padding-right: 1rem;
}
.header-navigation .fas {
   color: var(--color-dark-light);
   font-size: 1.2rem;
}
.header-navigation .far {
   color: var(--color-dark);
   font-size: 1.2rem;
}
.header-navigation label {
   display: block;
   flex-basis: 20%;
}
.header-menu-icon,
.header-menu,
.header-search-icon,
.header-icons__search {
   display: none;
}
#header-menu-icon:checked ~ .header-menu {
   width: 100vw;
   display: block;
   position: absolute;
   top: 90px;
   left: 0;
   background-color: var(--color-white);
   padding: 2rem 3rem;
   border-top: 1px solid var(--color-light);
   z-index: 10;
}
.header-menu__items {
   width: 100%;
   height: auto;
   text-align: center;
}
.header-menu__item {
   width: 100%;
   display: block;
   font-size: 1.1rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
   list-style: none;
}
.header-menu__item:first-child {
   padding-top: 0;
}
.header-menu__link {
   color: var(--color-light);
   text-decoration: none;   
}
.header-socials__items {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 3rem;
}
.header-socials__item {
   margin: 1rem;
}
.header-socials__items .fab {
   color: var(--color-light);
   font-size: 1.1rem;
}
.header-socials__link {
   border: 1px solid var(--color-light);
}
.header-logo {
   flex-basis: 90px;
}
.header-icons {
   flex-basis: 30%;
   max-width: 130px;
   display: flex;
   justify-content: space-between;
}
#header-search-icon:checked ~ .header-icons__search {
   width: 100vw;
   height: auto;
   display: block;
   position: absolute;
   top: 90px;
   left: 0;
   background-color: var(--color-white);
   padding: 1.5rem 1.5rem;
   border-bottom: 1px solid var(--color-light);
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border-top: 1px solid var(--color-light);
}
.header-icons__search form {
   width: 80%;
   max-width: 500px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
}
.header-icons__search input[type="text"] {
   width: 100%;
   color: var(--color-dark);
   font-size: 1rem;
   padding: 0.7rem;
   border: none;   
   border-radius: 10px;
   box-shadow: 2px 2px 8px var(--color-light);
}
.header-icons__search button {
   position: absolute;
   top: 0.5rem;
   right: 0.5rem;
   border: none;
   background-color: transparent;
}
.header-showcase {
   width: 100vw;
   height: calc(100vh - 90px);   
   background-image: url('../images/showcase-small.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;   
}
.header-showcase-wrap {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.6);
}
.header-showcase h1 {
   color: var(--color-white);
   font-size: 8rem;
   font-weight: 900;
   text-transform: uppercase;
}
.header-showcase p {
   color: var(--color-white);
   font-size: 2rem;
   text-align: center;
}
.header-showcase .flag {
   display: flex;
   margin-top: 1rem;
}
.header-showcase .flag span {
   width: 2.4rem;
   height: 1.4rem;
   display: block;
}

/* POPULAR */
.popular {
   width: 100%;
   height: auto;
}
.popular-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 8rem 2rem;
}
.popular-item {
   max-width: 300px;
   height: auto;
   margin: 1rem;
   padding: 1rem;
   border-radius: 10px;
   box-shadow: 1px 3px 10px var(--color-light);
}
.popular-item figcaption {
   text-align: center;
   font-size: 1rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

/* CATEGORY 1 */
.category-one {
   background-color: var(--color-section1);
   padding: 2rem 1rem 8rem 1rem;
}
.category-title span {
   display: block;
   width: 0.6rem;
   height: 2rem;
}
.category-container-one {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap: 0;
   /*margin-left: auto;
   margin-right: auto;*/
}
.category-image {
   width: 160px;
   height: 200px;
   position: relative;
}
.category-image button {
   /*width: 100%;
   height: 100%;*/
   position: absolute;
   top: 35%;
   left: 35%;
   border: none;
   background-color: transparent;
   /*display: flex;
   justify-content: center;
   align-items: center;*/
   border: 3px solid var(--color-dark-light);
   padding: 0.5rem;
   border-radius: 10px;
}
.category-image .fas {
   font-size: 2rem;
   color: var(--color-dark-light);
}
.category-image img {
   width: 100%;
   height: 100%;
   /*z-index: 100;*/
}
.category-modal {
   width: 100vw;
   height: 100vh;
   border: none;
   padding: 1rem;
}
.category-modal button {
   width: 2.5rem;
   height: 2.5rem;
   background-color: transparent;
   text-align: center;
   margin-bottom: 2rem;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid var(--color-light);
   border-radius: 50%;
}
.category-modal .fas {
   font-size: 1.5rem;
   color: var(--color-light);
}
.category-modal div {
   width: 300px;
   height: auto;
   margin-left: auto;
   margin-right: auto;
}
.category-modal h3 {
   font-size: 2rem;
   color: var(--color-blue);
   margin-top: 1rem;
}
.category-modal p {
   margin-top: 1rem;
   font-size: 1rem;
   color: var(--color-light);
}
/*
.category1 h2,
.category2 h2 {
   padding-top: 2rem;
   padding-bottom: 4rem;
}

/*
.category1 img {
   width: 150px;
}*/
/*
.category2 {
   background-color: var(--color-white);
   padding: 2rem 1rem 8rem 1rem;
}
.category2-container {
   width: 305px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap: 2rem;
   margin-left: auto;
   margin-right: auto;
}

/* FOOTER */
.footer {
   width: 100vw;
   background-color: var(--color-dark);
   padding: 2rem 1rem;
}
.footer-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.footer-links__item {
   display: block;
   text-align: left;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   list-style: none;
}
.footer-links__link {
   color: var(--color-white);
   font-size: 1rem;
}
.footer-contact {
   color: var(--color-white);
   font-size: 1.1rem;
   font-style: normal;
   margin-top: 2rem;
}
.footer-socials {
   color: var(--color-white);
   font-size: 1.1rem;
   margin-top: 2rem;
}

.footer-socials__items {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1rem;
}
.footer-socials__item {
   
   list-style: none;
}
.footer-socials__link {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid var(--color-light);
   border-radius: 50%;
}
.footer-socials .fab {
   color: var(--color-light);
   font-size: 1.1rem;
}